.dc {
  /* line bar chart */
  /* bubble chart */
  /* map */ }
  .dc-linechart-xAxis text, .dc-linechart-yAxis text, .dc-lineBarChart-xAxis text, .dc-lineBarChart-yAxis text {
    font-size: 12px;
    fill: #555; }
  .dc-linechart-xAxis path, .dc-linechart-yAxis path, .dc-lineBarChart-xAxis path, .dc-lineBarChart-yAxis path {
    fill: none;
    stroke: none; }
  .dc-linechart-xAxis line, .dc-linechart-yAxis line, .dc-lineBarChart-xAxis line, .dc-lineBarChart-yAxis line {
    stroke: #E6ECF2; }
  .dc-linechart-axis-title, .dc-lineBarChart-axis-title {
    fill: #1470CC;
    font-size: 14px; }
  .dc-linechart-tooltip, .dc-lineBarChart-tooltip {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 3px;
    position: absolute;
    z-index: 10;
    visibility: hidden;
    color: #fff;
    font-size: 12px; }
  .dc-linechart-tooltip-icon, .dc-lineBarChart-tooltip-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-radius: 12px;
    box-sizing: border-box;
    margin-right: 5px; }
  .dc-linechart-tooltip-name, .dc-lineBarChart-tooltip-name {
    display: inline-block;
    margin-right: 20px; }
  .dc-linechart-tooltip-value, .dc-lineBarChart-tooltip-value {
    display: inline-block; }
  .dc-linechart-bg, .dc-lineBarChart-bg {
    background: #bfbfbf;
    opacity: 0.15;
    visibility: hidden; }
  .dc-linechart-legends .legend, .dc-lineBarChart-legends .legend {
    display: inline-block;
    cursor: pointer; }
  .dc-linechart-legends .legend-icon, .dc-lineBarChart-legends .legend-icon {
    width: 14px;
    height: 14px;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle; }
    .dc-linechart-legends .legend-icon i, .dc-lineBarChart-legends .legend-icon i {
      background: url(../img/yes.png) no-repeat center;
      display: block;
      width: 100%;
      height: 100%; }
  .dc-linechart-legends .legend-disabled .legend-icon, .dc-lineBarChart-legends .legend-disabled .legend-icon {
    background: #EDF0F2;
    border: 1px solid #CED3D9; }
    .dc-linechart-legends .legend-disabled .legend-icon i, .dc-lineBarChart-legends .legend-disabled .legend-icon i {
      display: none; }
  .dc-linechart-legends .legend-disabled .legend-label, .dc-lineBarChart-legends .legend-disabled .legend-label {
    color: #888; }
  .dc-lineBarChart-yAxis1 .tick text {
    fill: #1470CC; }
  .dc-lineBarChart-yAxis2 .tick text {
    fill: #1BB21B; }
  .dc-lineBarChart-axis-title {
    fill: #555; }
  .dc-lineBarChart-axis-title1 {
    fill: #1470CC; }
  .dc-lineBarChart-axis-title2 {
    fill: #1BB21B; }
  .dc-bubble-item text {
    font-size: 18px; }
  .dc-bubble-subItem {
    cursor: pointer; }
    .dc-bubble-subItem text {
      font-size: 16px; }
  .dc-bubble-tooltip {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 3px;
    position: absolute;
    z-index: 10;
    visibility: hidden;
    color: #fff;
    font-size: 12px; }
  .dc-map-tooltip {
    padding: 10px;
    color: #555;
    font-size: 14px;
    position: absolute;
    visibility: hidden;
    background: #FFFFFF;
    border: 1px solid #CED3D9;
    box-shadow: 0px 0px 5px rgba(0, 33, 66, 0.2);
    white-space: nowrap; }
    .dc-map-tooltip::before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: -16px;
      width: 0;
      height: 0;
      border: 8px dashed transparent;
      border-top: 8px solid #CED3D9; }
    .dc-map-tooltip::after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: -15px;
      width: 0;
      height: 0;
      border: 8px dashed transparent;
      border-top: 8px solid #fff; }
